/* Roboto Font - Local */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./roboto/roboto-v49-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./roboto/roboto-v49-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./roboto/roboto-v49-latin-500.woff2') format('woff2');
}

/* Noto Sans Hebrew - Local (Individual Weights) */
@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-100.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./noto-sans-hebrew/noto-sans-hebrew-v50-hebrew-900.woff2') format('woff2');
}